<div class="jumbotron text-center" style="color:white;background-color:#BDBDBD;">
    <img src="yaein.png" alt="not pound" width="130px;">
    <h2>셀 출석부</h2>
    <span class="badge badge-primary">Primary</span>
    <span class="badge badge-success">Success</span>
    <span class="badge badge-danger">Danger</span>
    <span class="badge badge-warning">Warning</span>
    <span class="badge badge-info">Info</span>
    <span class="badge badge-light">Light</span>
    <span class="badge badge-dark">Dark</span>
</div>